<div class="container">
  <div class="jumbotron">
    <h1>Cards Game</h1>
    <p>Test made by Minas Code.</p>
  </div>
  <div class="row">
    <div class="col-md-7 outline">
      <h1> Details </h1>
      <hr>
      <div class="row">
        <div class="col-md-12">
          <ul>
            <li>
              {{real_name}}
            </li>
            <li>
              {{player_name}}
            </li>
            <li>
              {{asset}}
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-1">

    </div>
    <div class="col-md-4 outline">
      <h1> Controls</h1>
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="col-md-5">
              <button class="btn btn-block btn-success btn-lg" (click)=ascendingSort()>
                Sort Asc
              </button>
            </div>
            <div class="col-md-2"></div>
            <div class="col-md-5">
              <button class="btn btn-block btn-success btn-lg" (click)=descendingSort()>
                Sort Desc
              </button>
            </div>
          </div>
          <div class="row">
            <div class="col-md-12 margin-top">
              <div class="d-grid gap-2">
                <button class="btn btn-block btn-success btn-lg" (click)=onSubmit()>
                  Submit
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <h1>Overview</h1>
      <div class="row">
        <div *ngFor="let item of mockdata" class="col-md-3 outline custom-css"  (click)="changeMainCard(item)">
          <ul class="no-wrap">
            <li class="text-hidden">
              {{item.real_name}}
            </li>
            <li class="text-hidden">
              {{item.player_name}}
            </li>
            <li class="text-hidden">
              {{item.asset}}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
